<%- include('header.ejs') %>
<body>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    
    </div>

    <div class="box">
        <% for( let index = 0; index < listItems.length; index++ ) { %>
        <div class="item">
            <input type="checkbox" name="" id="">
            <p><%= listItems[index] %></p>
        </div>
        <% } %>

        <form action="/" method="post" class="item">
            <input type="text" name="newToDo" placeholder="New ToDo">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>

    </div>
        
</body>
<%- include('footer.ejs') %>
